<!-- 
    Input
     url - path to json data structure
-->
{{ with .Get "url" }} 
  {{ $url := . }} 
  {{ $data := getJSON $url }}
  {{ $title := $data.title }} 
  {{ $button := $data.button }}  
  {{ $btnlink := $data.link }} 

  <div class="w-100">
    {{ with $title }}
    <div class=" color-scala-section-header text-center fw-bold hfont pb-3">{{ $title }}</div>
    <div class="divider mb-5 mx-auto"></div>
    {{ end }}
    <div class="d-none d-lg-block">
    <div class="row justify-content-center w-100 px-5">
      {{ range $data.items }}
        {{ $img := .img }}
        {{ $name := .name }}
        {{ $altText := .altText }}  
        {{ $summary := .summary }}  
        {{ $link := .link }}  
        <div class="col-lg-4 py-3 col-md-12 px-4">
          <img
          class="lazyload w-100 img-fluid"
          style="border-radius: 20px;"
          src="{{ $img }}"
          alt="{{ $name }}"
        />
        <div class="px-lg-4 px-md-3">
          <h3 class="pt-4 hfont fw-bolder color-scala-red">{{ $name }}</h3>
          <p class="fw-medium color-scala-grey my-0 font">{{ $summary }}</p>
          <a href="{{ $link }}" class="fw-medium color-scala-link text-decoration-none font">Learn More >></a>
        </div>
        </div>
      {{ end }}
    </div>
    {{ with $button }}
    <div class="row  text-center w-100">
      <div class="col py-5">
        <a href="{{ $btnlink }}" class="btn download-btn btn-primary m-0">{{ $button }}</a>
    </div>
    </div>
    {{ end }}
  </div>

  <div class="d-lg-none">
    <div class="row justify-content-center w-100 px-md-5">
      {{ range $data.items }}
        {{ $img := .img }}
        {{ $name := .name }}
        {{ $altText := .altText }}  
        {{ $summary := .summary }}  
        {{ $link := .link }}  
        <div class="py-3 col-md-12 w-75">
          <img
          class="lazyload w-100 img-fluid"
          style="border-radius: 20px;"
          src="{{ $img }}"
          alt="{{ $name }}"
        />
        <div class="px-lg-4 px-3">
          <h3 class="pt-4 hfont fw-bolder color-scala-red">{{ $name }}</h3>
          <p class="fw-medium color-scala-grey my-0 font">{{ $summary }}</p>
          <a href="{{ $link }}" class="fw-medium color-scala-link text-decoration-none font">Learn More >></a>
        </div>
        </div>
      {{ end }}
    </div>
    {{ with $button }}
    <div class="row  text-center w-100">
      <div class="col py-5">
        <a href="{{ $btnlink }}" class="btn download-btn btn-primary m-0">{{ $button }}</a>
    </div>
    </div>
    {{ end }}
  </div>
  <style>
    @media (max-width:480px) {
  
    .mobile{
      display: none !important;
    }
  }
  .row a:hover{
    color: #ff4043;
  }
  </style>
{{ end }}
