
    <div class="container ">
        <div class="text">
            <h1>This is the text on the right side</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sit amet vestibulum nibh, non ullamcorper ligula. Donec eget tellus felis. Nullam tempor consequat enim, id ultricies lacus fringilla id.</p>
        </div>
        <div class="image">
            <img src="" alt="Image" width="100%">
        </div>
    </div>
<style scoped>
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .text {
        width: 50%;
        padding: 20px;
        box-sizing: border-box;
    }
    
    .image {
        width: 50%;
    }
</style>
