<div class="border border-dark py-4 px-4 mx-auto my-5" style="width: 70%; border-radius: 10px;">
    <div id="message" class="text-center font-weight-medium">
        <p class="fw-bold mb-4 text-dark" style="font-size: 30px;">Stay Informed!</p>
        <p>We are always on the lookout for bright, talented people to come and work with us.</p>
        <p>To join our Talented Community, Simply email us your resume and stay updated on future opportunities that match your experience.</p>
    </div>
</div>
<style>
#message p{
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    color: #666;
    font-size: 18px;
}
</style>