{{ with .Get "url" }}
  {{ $url := . }}
  {{ $data := getJSON $url }}
  {{ $button := $data.button }}
  {{ $btnlink := $data.link }}
  {{ $paragraph := $data.paragraph }}
  {{ $src := $data.src }}
  {{ $img := $data.img }}
  {{ $dwidth := $data.dwidth }}

  {{ with $paragraph }}
  <div class="w-100">
  <div class="contain text-center mx-5 pb-lg-5 pt-md-4">
    <p>{{ $paragraph }}</p>
  </div>
  {{ end }}
  <div class="d-none d-lg-block mx-auto">
  <div class="my-5 pb-3 mx-auto">
    {{ range $data.items }}
    <div class="row m-100 my-5 py-3 mx-auto px-5">
        <div id="{{ .id }}" class="col col-lg-6">
            <img class="lazyload" src="{{ .img }}" height="auto" width="100%" alt="">
        </div>
        <div class="col col-lg-6 px-5 py-3">
            <h2 style="font-size: 28px !important; color: #333; font-weight: 600;">{{ .name }}</h2>
            <div class="divider my-3 mx-0 rounded-5" style="width: {{ $dwidth }};"></div>
            <p class="py-1 font">{{ .summary1 }}</p>
            <p class="py-1 font">{{ .summary2 }}</p>
            <p class="py-1 font">{{ .summary3 }}</p>
            {{ with $btnlink }}
            <a class="download-btn text-decoration-none mx-0 my-5" href="{{ $btnlink }}">{{ $button }}</a>
            {{ end }}
            <div class="container mw-100 m-100 my-5"></div>
            <div class="row">
                {{ range $data.images }}
                <div class="col w-25 justify-content-center mx-3" style="border: 2px solid #000000; border-radius: 10px;">
                    <img class="img-fluid" src="{{ .smp_img }}" alt="">
                </div>
                {{ end }}
            </div>
            </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  
<!-- This is mobile and Tab view design -->
<div class="desktop">
  <div class="container">
      <div class="row my-md-5 py-md-3 text-center">
        {{ range $data.items }}
                <!-- <img class="lazyload mx-auto my-3" src="{{ .img }}" height="auto" width="100%" alt=""> -->
                <div class="w-100 text-center">
                <h2 class="mt-md-5">{{ .name }}</h2>
                <div class="divider my-3 mx-auto" style="width: {{ $dwidth }}; border-radius:20px"></div>
                <p class="py-md-1 mx-4 font">{{ .summary1 }}</p>
                <p class="py-md-1 mx-4 font">{{ .summary2 }}</p>
                <p class="py-md-1 mx-4 font">{{ .summary3 }}</p>
                <a class="demo-btn text-decoration-none mt-3" href="{{ $btnlink }}">{{ $button }}</a>
              </div>
              {{ end }}
      </div>
  </div>
</div>
<style>
    @media (min-width: 980px){
      .desktop{
        display: none !important;
      }
    }
  </style>
{{ end }}

